:root {	
	--bg: #00000066;
}


tab.tabbrowser-tab[selected="true"] stack.tab-stack vbox.tab-background {
	background: #FFFFFF28 !important;
}

toolbar {
	background: transparent !important;
}

/* window transparencies */
#main-window {
	background: var(--bg) !important;
}

/* navbar / tabbar / titlebar */
#nav-bar {
	background: transparent  !important;
}
#navigator-toolbox {
	background: transparent !important;
}

hbox#urlbar[open="true"] hbox#urlbar-background {
	background: #000000E0 !important;
}

#urlbar-background {
	background: transparent !important;
}
